<template>
  <div>
    <header>
      <h1>Create Paper Coordinator</h1>
      <!-- <h1>{{ $route.params.id }}</h1> -->
    </header>
  </div>
  <hr />
  <br />
  <div class="wh-center">
    <form @submit.prevent="success">
      <div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Coordinator name</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="email"
            required
            v-model="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Phone</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="phone"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Paper Title</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="papertitle"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Sessions</label
          >
          <div>
            <select
              class="form-select text-center"
              aria-label="Default select example"
              v-model="sessions"
            >
              <option>Regular</option>
              <option>Special</option>
              <option>Poster</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Paper Detail</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            v-model="detil"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Paper Categories</label
          >
          <div class="dropdown">
            <button
              class="form-select text-center"
              type="button"
              id="categoryDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select Categories
            </button>
            <ul
              class="dropdown-menu form-select text-center"
              aria-labelledby="categoryDropdown"
            >
              <li v-for="category in categorys" :key="category.id">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    :id="'category-' + category.id"
                    :value="category.categoryid"
                    v-model="selectedcategorys"
                  />
                  <label
                    class="form-check-label"
                    :for="'category-' + category.id"
                    >{{ category.categoryname }}</label
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">
            <button type="button" class="btn btn-primary" @click="newC()">
              New Category
            </button>
          </label>
        </div>
        <div>
          <button type="submit" class="btn btn-success">Success</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import router from "@/router";
import axios from "axios";
import { useRoute } from "vue-router";
export default {
  data() {
    return {
      username: "",
      email: "",
      phone: "",
      papertitle: "",
      sessions: "",
      detil: "",
      selectedcategorys: [],
      categorys: [],
      datauser: [],
      id:""
    };
  },
  mounted() {
    const route = useRoute();
    const id = route.params.id;
    this.id = id
    axios
      .get("http://localhost:3000/categorys")
      .then((response) => {
        this.categorys = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    async success() {
      // alert(this.selectedcategorys)
      // alert(this.id)
      if (
        !this.username ||
        !this.email ||
        !this.phone ||
        !this.papertitle ||
        !this.sessions ||
        !this.detil
      ) {
        this.$swal.fire("Please enter complete information.");
      } else {
        this.datauser.push(
          " username=" +
            this.username +
            ",email=" +
            this.email +
            ",phone=" +
            this.phone
        );
        this.$swal
          .fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Create Paper!",
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$swal.fire(
                "Finish!",
                "Please wait for approval.",
                "success"
              );
              axios
                .post("http://localhost:3000/papers", {
                  papertitle: this.papertitle,
                  sessions: this.sessions,
                  detail: this.detail,
                  author: this.datauser,
                  categorys: this.selectedcategorys,
                  conference: this.id,
                })
                .then((response) => console.log(response));
              setTimeout(function () {
                router.go(-1);
              }, 1000);
            }
          });
      }
    },
    newC() {
      router.push("/categorycoordinator");
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 40%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
