<template>
  <div><h1>หน้าจอสำหรับสร้างบทความ</h1></div>
  <hr />
  <div class="tables">
    <div class="form-group mt-3 mb-3">
      <input
        type="text"
        v-model="searchQuery"
        placeholder="Search..."
        class="form-control"
      />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th
            v-for="column in columns"
            :key="column.field"
            @click="sortBy(column.field)"
            :class="{ sorting: sortKey == column.field }"
          >
            {{ column.title }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="record in filteredRecords" :key="record.id">
          <td v-for="column in columns" :key="column.field">
            {{
              column.field === "startdate"
                ? record.startdate.slice(0, 10)
                : column.field === "enddate"
                ? record.enddate.slice(0, 10)
                : record[column.field]
            }}
          </td>
          <td>
            <button class="btn btn-primary" @click="alterData(record)">
              ลงทะเบียน
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h5>If the information does not update, please refresh the screen.</h5>
  </div>
</template>

<script>
import axios from "axios";
import router from "@/router";

export default {
  data() {
    return {
      records: [],
      columns: [
        { field: "conferenceid", title: "ID" },
        { field: "conferencename", title: "conference title" },
        { field: "startdate", title: "Start date" },
        { field: "enddate", title: "End date" },
      ],
      sortKey: "",
      sortOrders: {},
      searchQuery: "",
    };
  },
  created() {
    this.fetchData();
  },
  computed: {
    filteredRecords() {
      let sortKey = this.sortKey;
      let order = this.sortOrders[sortKey] || 1;
      let records = this.records;
      let searchQuery = this.searchQuery;

      if (searchQuery) {
        records = records.filter((record) => {
          return Object.keys(record).some((key) => {
            return String(record[key]).toLowerCase().indexOf(searchQuery) > -1;
          });
        });
      }

      if (sortKey) {
        records = records.slice().sort((a, b) => {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        });
      }
      return records;
    },
  },
  methods: {
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
    },
    fetchData() {
      axios
        .get("http://localhost:3000/conferences")
        .then((response) => {
          this.records = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    alterData(record) {
      // alert(record.conferenceid)
      router.push("/formcoordinator/" + record.conferenceid);
    },
  },
};
</script>
<style>
.tables {
  margin: auto;
  width: 80%;
}
</style>
