<template>
  <div>
    <section
      class="vh-100"
      style="
        background-size: cover;
        background-image: url(https://fastly.4sqi.net/img/general/width960/37371072_oBVfqEOH5g2jI3YSLfWKWPW6iWAVMLudSsDlpx9c1yU.jpg);
      "
    >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 2rem">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Sign in</h3>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="typeEmailX-2"
                    class="form-control form-control-lg"
                    placeholder="Email"
                    v-model="email"
                  />
                </div>
                <div class="form-outline mb-4">
                  <div class="input-group">
                    <input
                      v-bind:type="[showPassword ? 'text' : 'password']"
                      id="typePasswordX-2"
                      class="form-control form-control-lg"
                      placeholder="Password"
                      v-model="password"
                    />
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      @click="showPassword = !showPassword"
                    >
                      <i
                        class="fa"
                        :class="[showPassword ? 'fa-eye' : 'fa-eye-slash']"
                        aria-hidden="true"
                        >show</i
                      >
                    </button>
                  </div>
                </div>

                <button
                  class="btn btn-primary btn-lg btn-block"
                  type="submit"
                  @click="login()"
                >
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      showPassword: false
    };
  },
  methods: {
    async login() {
      this.$store
        .dispatch("login", { email: this.email, password: this.password })
        .then(() => {
          localStorage.setItem("user", JSON.stringify(this.$store.state.user));
          localStorage.setItem("isAuthenticated", true);
          this.$router.push("/");
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
};
</script>
