<template>
  <table align="center">
    <h1>Welcome Main Display Project</h1>
    <div>
      <h1>Admin</h1>
      <button @click="admin">Linkto</button>
    </div>
    <div>
      <h1>Author</h1>
      <button @click="author">Linkto</button>
    </div>
    <div>
      <h1>Coordinator</h1>
      <button @click="coordinator">Linkto</button>
    </div>
  </table>
</template>

<script>
import router from '@/router';
export default {
  methods: {
    async admin() {
      router.push("/")
    },
    async author() {
      router.push("/regirationrapertable")
    },
    async coordinator() {
      router.push("/tableconferencescoordinator")
    },
  },
};
</script>
