<template>
  <select
    class="form-select form-select mb-3"
    aria-label=".form-select example"
  >
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      email: "",
      subject: "",
      message: "",
    };
  },
  methods: {
    submitForm() {
      console.log(
        "Submitting form:",
        this.name,
        this.email,
        this.subject,
        this.message
      );
      // Clear form data
      this.name = "";
      this.email = "";
      this.subject = "";
      this.message = "";
    },
  },
};
</script>
