<template>
  <div>
    <div>
      <header>
        <h1>Conference Detail</h1>
        <!-- {{ datacon && data }} -->
      </header>
    </div>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-success" @click="CreateP()">
            AddPaper
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-secondary"
            @click="GraphC(datacon)"
          >
            Graph
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-warning"
            @click="ExportExcel(datacon)"
          >
            Export Excel File
          </button>
        </div>
      </div>
    </div>
    <br />
    <!-- #Box1 -->
    <div class="wh-center">
      <div v-for="(datacon, index) in datacon" v-bind:key="index">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >ID Conference</label
          >
          <input
            class="form-control text-center"
            id="exampleFormControlInput1"
            type="text"
            disabled
            v-model="datacon.conferenceid"
          />
          <label for="exampleFormControlInput1" class="form-label"></label>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Conference Title</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="datacon.conferencename"
          />
          <label for="exampleFormControlInput1" class="form-label"></label>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Conference Abbreviation</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="datacon.abbreviation"
          />
        </div>
        <div class="mb-3">
          <label for="startDate" class="form-label">Start date</label>
          <br />
          <h5>{{ datacon.startdate.slice(0, 10) }}</h5>
          <br />
          <input
            class="form-control text-center"
            id="startDate"
            type="date"
            v-model="datacon.startdate"
            :max="datacon.enddate"
          />
        </div>
        <div class="mb-3">
          <label for="endDate" class="form-label">End date</label>
          <br />
          <h5>{{ datacon.enddate.slice(0, 10) }}</h5>
          <br />
          <input
            class="form-control text-center"
            id="endDate"
            type="date"
            v-model="datacon.enddate"
            :min="datacon.startdate"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Conference venus</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="datacon.venus"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Conference type</label
          >
          <!-- <h5>{{ datacon.type }}</h5> -->
          <div>
            <select
              class="form-select text-center"
              aria-label="Default select example"
              v-model="datacon.type"
            >
              <option>Online</option>
              <option>Onsite</option>
              <option>Hybrid</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Conference organizer</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="datacon.organizer"
          />
        </div>
      </div>
    </div>
    <br />
    <!-- #Box2 -->
    <!-- <div class="wh-center">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Payment</label>
      </div>
    </div>
    <br /> -->
    <!-- #Box3 -->
    <div class="sec">
      <div class="tables">
        <div class="form-group mt-3 mb-3">
          <input
            type="text"
            v-model="searchQuery"
            placeholder="Search..."
            class="form-control"
          />
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th
                v-for="column in columns"
                :key="column.field"
                @click="sortBy(column.field)"
                :class="{ sorting: sortKey == column.field }"
              >
                {{ column.title }}
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in displayedRecords" :key="record.id">
              <td
                v-for="column in columns"
                :key="column.field"
                :class="getColumnClass(record, column.field)"
              >
                {{ record[column.field] }}
              </td>
              <td>
                <button class="btn btn-primary" @click="paperdetail(record)">
                  Detail
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="form-group mt-3 mb-3">
          <button
            class="btn btn-danger mr-2"
            v-if="currentPage > 1"
            @click="currentPage--"
          >
            Previous
          </button>
          &nbsp;
          <button
            class="btn btn-primary mr-2"
            v-if="displayedRecords.length === pageLimit"
            @click="currentPage++"
          >
            Next
          </button>
        </div>
      </div>
      <div>
        <h6>If the information does not update, please refresh the screen.</h6>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-warning"
            @click="update(datacon)"
          >
            Update
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger" @click="delC(datacon)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import router from "@/router";

import { useRoute } from "vue-router";

export default {
  data() {
    return {
      data: "",
      datacon: "",
      records: [],
      columns: [
        { field: "paperid", title: "PaperID" },
        { field: "papertitle", title: "Paper Title" },
        { field: "sessions", title: "Sessions" },
        { field: "paperstatus", title: "Paper Status" },
      ],
      sortKey: "",
      sortOrders: {},
      searchQuery: "",
      pageLimit: 5,
      currentPage: 1,
    };
  },
  created() {
    this.fetchData();
  },
  computed: {
    filteredRecords() {
      let sortKey = this.sortKey;
      let order = this.sortOrders[sortKey] || 1;
      let records = this.records;
      let searchQuery = this.searchQuery;

      if (searchQuery) {
        records = records.filter((record) => {
          return Object.keys(record).some((key) => {
            return String(record[key]).toLowerCase().indexOf(searchQuery) > -1;
          });
        });
      }

      if (sortKey) {
        records = records.slice().sort((a, b) => {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        });
      }
      return records;
    },
    totalPages() {
      return Math.ceil(this.filteredRecords.length / this.pageLimit);
    },
    displayedRecords() {
      const startIndex = (this.currentPage - 1) * this.pageLimit;
      const endIndex = startIndex + this.pageLimit;
      return this.filteredRecords.slice(startIndex, endIndex);
    },
  },
  methods: {
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
    },
    fetchData() {
      const route = useRoute();
      const id = route.params.id;
      axios
        .get("http://localhost:3000/conferences/papercon/" + id)
        .then((response) => {
          this.data = response.data;
          this.records = this.data;
          // console.log(JSON.stringify(this.data[0]));
        });
      axios.get("http://localhost:3000/conferences/" + id).then((res) => {
        this.datacon = res.data;
        // console.log(JSON.stringify(this.datacon));
      });
    },
    CreateP() {
      // alert(JSON.stringify(this.datacon[0].conferenceid))
      router.push("/createpaperadmin/" + this.datacon[0].conferenceid);
    },
    GraphC(data) {
      // alert(JSON.stringify(data))
      router.push("/graphcategory/" + data[0].conferenceid);
    },
    paperdetail(record) {
      const paperidjson = JSON.stringify(record.paperid);
      router.push("/paperdetail/" + paperidjson);
    },
    async ExportExcel(data) {
      const id = data[0].conferenceid;
      try {
        const response = await axios.get(
          "http://localhost:3000/conferences/excel/" + id,
          {
            responseType: "blob", // set response type to blob
          }
        );
        const blob = new Blob([response.data], {
          type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", // set MIME type to Excel format
        });
        const link = document.createElement("a");
        link.href = window.URL.createObjectURL(blob);
        link.download = "conference-data.xlsx"; // set filename
        link.click(); // trigger download
      } catch (error) {
        console.error(error);
      }
    },
    delC(datacon) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.$swal.fire(
              "Deleted!",
              "Your file has been deleted.",
              "success"
            );
            axios
              .delete(
                "http://localhost:3000/conferences/" + datacon[0].conferenceid
              )
              .then((response) => {
                console.log(response);
              });
            setTimeout(function () {
              router.push("/");
            }, 1000);
          }
        });
    },
    update(datacon) {
      if (
        !this.datacon[0].conferencename ||
        !this.datacon[0].abbreviation ||
        !this.datacon[0].startdate ||
        !this.datacon[0].enddate ||
        !this.datacon[0].venus ||
        !this.datacon[0].type ||
        !this.datacon[0].organizer
      ) {
        this.$swal.fire("Please enter complete information.");
      } else {
        this.$swal
          .fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, update it!",
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$swal.fire(
                "Update!",
                "Your file has been updated.",
                "success"
              );
              axios
                .put(
                  "http://localhost:3000/conferences/" + datacon.conferenceid,
                  {
                    conferencename: this.datacon[0].conferencename,
                    abbreviation: this.datacon[0].abbreviation,
                    startdate: this.datacon[0].startdate,
                    enddate: this.datacon[0].enddate,
                    venus: this.datacon[0].venus,
                    type: this.datacon[0].type,
                    organizer: this.datacon[0].organizer,
                  }
                )
                .then((response) => {
                  console.log("The information has been updated successfully.");
                })
                .catch((error) => {
                  console.log(error);
                });
              setTimeout(function () {
                router.go(0);
              }, 10000);
            }
          });
      }
    },
    previousPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++;
      }
    },
    getColumnClass(record, field) {
      if (field === "paperstatus") {
        return record[field] === "approval" ? "text-success" : "text-danger";
      } else {
        return "";
      }
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}

.tb {
  height: 100%;
  width: 100%;
  margin: auto;
  border: 1px solid black;
}

.sec {
  width: 70%;
  margin: auto;
  padding: 30px;
  background-color: #e3f2fd;
  border: 1px solid black;
  border-radius: 15px;
  overflow-x: auto;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}
</style>
