<template>
  <h1>Graph conference id {{ $route.params.id }}</h1>
  <hr />
  <br />
  <div class="wh-center">
    <canvas ref="myChart"></canvas>
  </div>
  &nbsp;&nbsp;&nbsp;
  <div>
      <button type="button" class="btn btn-danger" @click="$router.back()">
        Back
      </button>
    </div>
</template>
<script>
import axios from 'axios';
import Chart from 'chart.js/auto';

export default {
  data() {
    return {
      chartData: [],
    };
  },
  created() {
    axios
      .get('http://localhost:3000/categorys')
      .then(response => {
        const data = response.data;
        const categoryCounts = {};
        data.forEach(item => {
          const category = item.categoryname;
          const papers = item.papers.length;
          if (Object.prototype.hasOwnProperty.call(categoryCounts, category)) {
            categoryCounts[category] += papers;
          // if (categoryCounts.hasOwnProperty(category)) {
          //   categoryCounts[category] += papers;
          } else {
            categoryCounts[category] = papers;
          }
        });
        const maxCategory = Object.keys(categoryCounts).reduce((a, b) => categoryCounts[a] > categoryCounts[b] ? a : b);
        this.chartData = {
          labels: Object.keys(categoryCounts),
          datasets: [
            {
              label: 'Data',
              data: Object.values(categoryCounts),
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1,
            },
          ],
        };
        this.createChart(maxCategory);
      })
      .catch(error => {
        console.error(error);
      });
  },
  methods: {
    createChart(maxCategory) {
      const ctx = this.$refs.myChart.getContext('2d');
      new Chart(ctx, {
        type: 'pie',
        data: this.chartData,
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            title: {
              display: true,
              text: `Category with the most papers: ${maxCategory}`,
            },
          },
        },
      });
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
