<template>
  <div>
    <header>
      <h1>Paper Detail</h1>
      <!-- <h1>{{ $route.params.id }}</h1>
        <h1>{{ data.conferenceid }}</h1> -->
      <!-- {{ authors }} -->
    </header>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button type="button" class="btn btn-primary" @click="AuthorA(data)">
          see All Author
        </button>
      </div>
    </div>
  </div>
  <br />
  <div v-for="(data, index) in data" v-bind:key="index">
    <div v-if="index === 0">
      <!-- #Box_author -->
    <div class="wh-center">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" disabled
          >Author</label
        >
        <input
          class="form-control"
          id="exampleFormControlInput1"
          type="text"
          v-model="data.author[0]"
          disabled
        />
      </div>
    </div>
    <br />
    <!-- #Box1 -->
    <div class="wh-center">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" disabled
          >Paper ID</label
        >
        <input
          class="form-control text-center"
          id="exampleFormControlInput1"
          type="text"
          disabled
          v-model="data.paperid"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Paper Title</label
        >
        <input
          class="form-control"
          id="exampleFormControlInput1"
          type="text"
          v-model="data.papertitle"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Sessions</label
        >
        <div>
          <select
            class="form-select text-center"
            aria-label="Default select example"
            v-model="data.sessions"
          >
            <option>Regular</option>
            <option>Special</option>
            <option>Poster</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Paper Status</label
        >
        <div>
          <select
            class="form-select text-center"
            aria-label="Default select example"
            v-model="data.paperstatus"
            :style="{
              color: data.paperstatus === 'disapproval' ? 'red' : 'green',
            }"
          >
            <option selected>{{ data.paperstatus }}</option>
            <option v-if="data.paperstatus === 'disapproval'">approval</option>
            <option v-else>disapproval</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Paper Categories</label
        >
        <div class="dropdown">
          <button
            class="form-select text-center"
            type="button"
            id="categoryDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Select Categories
            <!-- {{ data.category }} -->
          </button>
          <ul
            class="dropdown-menu form-select text-center"
            aria-labelledby="categoryDropdown"
          >
            <li v-for="category in categorys" :key="category.id">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  :id="'category-' + category.id"
                  :value="category.categoryid"
                  v-model="selectedcategorys"
                />
                <label
                  class="form-check-label"
                  :for="'category-' + category.id"
                  >{{ category.categoryname }}</label
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="mb-3">
        &nbsp;
        <div>
          <button type="button" class="btn btn-primary" @click="newC()">
            Add Category
          </button>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Detail</label>
        <textarea
          class="form-control"
          aria-label="With textarea"
          v-model="data.detail"
        ></textarea>
      </div>
    </div>
    <br />

    <!-- #Box2 -->
    <!-- <div class="wh-center">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Payment</label>
      </div>
    </div> -->
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-info" @click="exportPDF(data)">
            certificate
          </button>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-warning" @click="updateP(data)">
            Update
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-danger" @click="del(data)">
            Delete
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { useRoute } from "vue-router";
import router from "@/router";

export default {
  data() {
    return {
      data: "",
      authors: "",
      selectedcategorys: [],
      categorys: [],
      categorynew: [],
    };
  },
  methods: {
    AuthorA(data) {
      router.push("/paperallname/" + data[0].paperid);
    },
    newC() {
      router.push("/newcategoryadmin");
    },
    async exportPDF(data) {
      try {
        const response = await axios.get(
          "http://localhost:3000/conferences/pdf/" + data.paperid,
          {
            responseType: "blob",
          }
        );
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "invoice.pdf");
        document.body.appendChild(link);
        link.click();
      } catch (error) {
        console.error(error);
      }
    },
    updateP(data) {
      if (this.selectedcategorys.length != 0) {
        // alert("not null"+this.selectedcategorys)
        this.categorynew = this.selectedcategorys;
      } else {
        // alert("null"+this.selectedcategorys)
        this.categorynew = this.data[0].category;
      }
      // alert(this.categorynew);
      // alert(JSON.stringify(this.data[0].category));
      if (
        !this.data[0].papertitle ||
        !this.data[0].sessions ||
        !this.data[0].paperstatus ||
        !this.data[0].detail
      ) {
        this.$swal.fire("Please enter complete information.");
      } else {
        // alert(data);
        this.$swal
          .fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, update it!",
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$swal.fire(
                "Update!",
                "Your file has been updated.",
                "success"
              );
              axios
                .put("http://localhost:3000/papers/" + data.paperid, {
                  papertitle: this.data[0].papertitle,
                  sessions: this.data[0].sessions,
                  paperstatus: this.data[0].paperstatus,
                  detail: this.data[0].detail,
                  category: this.categorynew
                })
                .then((response) => {
                  console.log("The information has been updated successfully.");
                })
                .catch((error) => {
                  console.log(error);
                });
              setTimeout(function () {
                router.go(0);
              }, 10000);
            }
          });
      }
    },
    del(data) {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
        })
        .then((result) => {
          if (result.isConfirmed) {
            this.$swal.fire(
              "Deleted!",
              "Your file has been deleted.",
              "success"
            );
            axios.delete("http://localhost:3000/papers/" + data.paperid);
            setTimeout(function () {
              router.go(-1);
            }, 1000);
          }
        });
    },
  },
  mounted() {
    const route = useRoute();
    const id = route.params.id;
    axios.get("http://localhost:3000/papers/" + id).then((response) => {
      this.data = response.data;
      this.authors = response.data[0].author;
    });
    axios
      .get("http://localhost:3000/categorys")
      .then((response) => {
        this.categorys = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
.form-select option {
  color: black;
  background-color: white;
}

.form-select[aria-expanded="true"] option {
  background-color: lightgray;
}
</style>
