<template>
  <h1>Author In paper ID = {{ $route.params.id }}</h1>
  <div>
    <!-- #Box_author -->
    <div class="wh-center">
      <form>
        <div v-for="(author, index) in authors" :key="index" class="mb-3">
          <label for="author{{index}}" class="form-label"
            >Authors {{ index + 1 }}</label
          >
          <input
            type="text"
            class="form-control"
            id="author{{index}}"
            disabled
            v-model="authors[index]"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <button type="button" class="btn btn-danger" @click="back()">
          Back
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-warning"
          hidden
          disabled
          @click="updateC()"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { useRoute } from "vue-router";
import router from "@/router";
export default {
  data() {
    return {
      //   data: "",
      authors: "",
    };
  },
  mounted() {
    const route = useRoute();
    const id = route.params.id;
    axios.get("http://localhost:3000/papers/" + id).then((response) => {
      //   this.data = response.data;
      this.authors = response.data[0].author;

      // alert(JSON.stringify(this.author[0].author));
      //   console.log(JSON.stringify(this.data[0]));
    });
  },
  methods: {
    updateC() {
      this.$swal({
        icon: "success",
        title: "Completed",
        text: "Update Data Author Success. ",
      });
      router.go(-1);
    },
    back() {
      router.go(-1);
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
