<template>
  <div class="tables">
    <div class="form-group mt-3 mb-3">
      <input
        type="text"
        v-model="searchQuery"
        placeholder="Search..."
        class="form-control"
      />
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th
            v-for="column in columns"
            :key="column.field"
            @click="sortBy(column.field)"
            :class="{ sorting: sortKey == column.field }"
          >
            {{ column.title }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="record in filteredRecords" :key="record.id">
          <td v-for="column in columns" :key="column.field">
            {{ record[column.field] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import router from "@/router";

export default {
  data() {
    return {
      records: [],
      columns: [
        { field: "paperid", title: "Paper ID" },
        { field: "conference", title: "Conference ID" },
        { field: "papertitle", title: "Paper Title" },
        // { field: "sessions", title: "Sessions" },
      ],
      sortKey: "",
      sortOrders: {},
      searchQuery: "",
    };
  },
  created() {
    this.fetchData();
  },
  computed: {
    filteredRecords() {
      let sortKey = this.sortKey;
      let order = this.sortOrders[sortKey] || 1;
      let records = this.records;
      let searchQuery = this.searchQuery;

      if (searchQuery) {
        records = records.filter((record) => {
          return Object.keys(record).some((key) => {
            return String(record[key]).toLowerCase().indexOf(searchQuery) > -1;
          });
        });
      }

      if (sortKey) {
        records = records.slice().sort((a, b) => {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        });
      }
      return records;
    },
  },
  methods: {
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
    },
    fetchData() {
      axios
        .get("http://localhost:3000/papers")
        .then((response) => {
          this.records = response.data;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    alterData(record) {
      router.push("/conferencedetail/" + record.conferenceid);
    },
    createc() {
      router.push("/createconference");
    },
  },
};
</script>
<style>
.tables {
  margin: auto;
  width: 80%;
}
</style>
