<template>
  <div>
    <header>
      <h1>Form registration</h1>
      <!-- <h1>{{ $route.params.id }}</h1> -->
    </header>
  </div>
  <hr />
  <div class="wh-center">
    <form @submit.prevent="success">
      <div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Author name</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="email"
            required
            v-model="email"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Phone</label
          >
          <input
            class="form-control"
            id="exampleFormControlInput1"
            type="text"
            v-model="phone"
          />
        </div>
        <div>
          <button type="button" class="btn btn-danger" v-on:click="backp()">
            Cancel
          </button>
          &nbsp;&nbsp;
          <button type="submit" class="btn btn-success">Success</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import router from "@/router";
import axios from "axios";
import { useRoute } from "vue-router";
export default {
  data() {
    return {
      username: "",
      email: "",
      phone: "",
      datauser: [],
      data: "",
      datastring: "",
    };
  },
  mounted() {
    const route = useRoute();
    const id = route.params.id;
    axios.get("http://localhost:3000/papers/" + id).then((response) => {
      this.data = response.data;
    });
  },
  methods: {
    async success() {
      if (!this.username || !this.email || !this.phone) {
        this.$swal.fire("Please enter complete information.");
      } else {
        this.datauser =
          "username = " +
          this.username +
          ",email =" +
          this.email +
          ",phone =" +
          this.phone;
        this.$swal
          .fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, registration Paper!",
          })
          .then((result) => {
            if (result.isConfirmed) {
              this.$swal.fire("Finish!", "Successfully registered.", "success");
              axios
                .post(
                  "http://localhost:3000/papers/pushauthor/" +
                    this.data[0].paperid,
                  {
                    dataid: this.data[0].paperid,
                    datauser: this.datauser,
                  }
                )
                .then((response) => console.log(response));
              router.go(-1);
            }
          });
      }
    },
    backp() {
      router.go(-1);
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 40%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
