<template>
  <!-- <h1>Author In paper ID = {{ $route.params.id }}</h1> -->
  <h1>Author In Paper {{ title }}</h1>
  <div>
    <!-- #Box_author -->
    <div class="wh-center">
      <form>
        <div v-for="(author, index) in authors" :key="index" class="mb-3">
          <label for="author{{index}}" class="form-label"
            >Authors {{ index + 1 }}</label
          >
          <input
            type="text"
            class="form-control"
            id="author{{index}}"
            disabled
            v-model="authors[index]"
          />
        </div>
      </form>
    </div>
  </div>
  <div>
    <h5>If the information does not update, please refresh the screen.</h5>
  </div>
  <div class="container">
    <br />
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <button
          type="button"
          class="btn btn-warning"
          @click="Form($route.params.id)"
        >
          เพิ่มรายชื่อ
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { useRoute } from "vue-router";
import router from "@/router";
export default {
  data() {
    return {
      title: "",
      authors: "",
    };
  },
  mounted() {
    const route = useRoute();
    const id = route.params.id;
    axios.get("http://localhost:3000/papers/" + id).then((response) => {
      this.title = response.data[0].papertitle;
      this.authors = response.data[0].author;
    });
  },
  methods: {
    Form(data) {
      router.push("/formregiration/" + data);
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 50%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
