<template>
  <div v-if="showDiv">
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid">
        <a class="navbar-brand">IConFerence</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/">Manage ConFerences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/createconference">
                Create ConFerences
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/seeallpaper">
                See All Paper
              </a>
            </li>
          </ul>
          <form class="d-flex justify-content-around">
            <div>
              <button class="btn btn-danger" v-on:click="logout()">
                Signout
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</template>
<script>

export default {
  //hide 
  computed: {
    showDiv() {
      const id = this.$route.params.id;
      return (
        this.$route.path === "/" ||
        this.$route.path === "/createpaperadmin/"+id ||
        this.$route.path === "/conferencedetail/"+id ||
        this.$route.path === "/createconference" ||
        this.$route.path === "/seeallpaper" ||
        this.$route.path === "/paperdetail/"+id ||
        this.$route.path === "/graphcategory/"+id ||
        this.$route.path === "/paperallname/"+id ||
        this.$route.path === "/newcategoryadmin" 
      );
    },
  },
  data() {
    return {
      data: "",
      datauser: "",
      datapassword: "",
    };
    
  },
  methods: {
    logout() {
      // Clear the user's information and authentication state in the store
      this.$store.commit("logout");

      // Remove the user's information and authentication state from localStorage
      localStorage.removeItem("user");
      localStorage.removeItem("isAuthenticated");

      // Redirect the user to the login page
      this.$router.push("/login");
    },
  },
};
</script>
<style></style>
