<template>
  <div>
    <header>
      <h1>Create Conference</h1>
    </header>
  </div>
  <br />
  <!-- Box 1 -->
  <div class="wh-center">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Conference Title</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        type="text"
        v-model="conferencename"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Conference Abbreviation</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        type="text"
        v-model="abbreviation"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Conference venue</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        type="text"
        v-model="venus"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Conference Type</label
      >
      <div>
        <select
          class="form-select text-center"
          aria-label="Default select example"
          v-model="type"
        >
          <option>Online</option>
          <option>Onsite</option>
          <option>Hybrid</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Conference Organizer</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        type="text"
        v-model="organizer"
      />
    </div>
  </div>
  <br />
  <!-- Box 2 -->
  <div class="wh-center">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Start date</label
      >
      <!-- <label for="startDate">Start</label> -->
      <input
        id="startDate"
        class="form-control"
        type="date"
        v-model="startdate"
        :max="enddate"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">End date</label>
      <!-- <label for="startDate">Start</label> -->
      <input
        id="startDate"
        class="form-control"
        type="date"
        v-model="enddate"
        :min="startdate"
      />
    </div>
  </div>
  <br />
  <br />
  <div>
    <button type="button" class="btn btn-danger" @click="dashD()">
      Cancel
    </button>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-success" v-on:click="success">
      Confirm
    </button>
  </div>
</template>

<script>
import axios from "axios";
import router from "@/router";
export default {
  data() {
    return {
      conferencename: "",
      abbreviation: "",
      venus: "",
      type: "",
      organizer: "",
      startdate: null,
      enddate: null,
    };
  },
  methods: {
    async success() {
      if (
        !this.conferencename ||
        !this.abbreviation ||
        !this.venus ||
        !this.type ||
        !this.organizer ||
        !this.startdate ||
        !this.enddate
      ) {
        this.$swal.fire("Please enter complete information.");
      } else {
        this.$swal({
          icon: "success",
          title: "Completed",
          text: "Back to DashBoard.",
        });
        axios
          .post("http://localhost:3000/conferences", {
            conferencename: this.conferencename,
            abbreviation: this.abbreviation,
            venus: this.venus,
            type: this.type,
            organizer: this.organizer,
            startdate: this.startdate,
            enddate: this.enddate,
          })
          .then((response) => console.log(response));
        router.push("/");
      }
    },
    dashD() {
      router.push("/");
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 40%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
