<template>
  <div>
    <header>
      <h1>New Category</h1>
    </header>
  </div>
  <div class="wh-center">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >NewCategory</label
      >
      <input
        class="form-control"
        id="exampleFormControlInput1"
        type="text"
        v-model="categoryname"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Category Description</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        v-model="categorydescription"
      ></textarea>
    </div>

    <div>
      <button type="button" class="btn btn-danger" v-on:click="backp()">
        Cancel
      </button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-success" v-on:click="success">
        Success
      </button>
    </div>
  </div>
</template>
<script>
import router from "@/router";
import axios from "axios";

export default {
  data() {
    return {
      categoryname: "",
      categorydescription: "",
    };
  },
  methods: {
    async success() {
      if (!this.categoryname || !this.categorydescription) {
        this.$swal.fire("Please enter complete information.");
      } else {
        this.$swal({
          icon: "success",
          title: "Completed",
          text: "Please wait.",
        });
        axios
          .post("http://localhost:3000/categorys", {
            categoryname: this.categoryname,
            categorydescription: this.categorydescription,
          })
          .then((response) => console.log(response));
        setTimeout(function () {
          router.go(-1);
        }, 1000);
      }
    },
    backp() {
      router.go(-1);
    },
  },
};
</script>
<style>
.wh-center {
  height: 100%;
  width: 40%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: #e3f2fd;
}
</style>
